<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"
      rel="stylesheet"
    />
    <title>About</title>
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <header><h1>About</h1></header>
    <ul>
      <li>
        <a
          href="https://jackdbd.github.io/threejs-es6-webpack-starter/index.html"
          >Home</a
        >
      </li>
    </ul>
    <p>
      I created this about page only to check that the CommonsChunkPlugin is
      configured correctly. Check the bundles in Chrome Dev Tools.
    </p>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
