<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Favicons -->
    <!-- FaviconsWebpackPlugin together with HtmlWebpackPlugin should be able to
      inject the link tags for the favicons, but there must be something wrong
      with my config -->
    <!-- https://github.com/jantimon/favicons-webpack-plugin#html-injection -->
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="/assets/favicon-48x48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"
      rel="stylesheet"
    />
    <title>About</title>
    <!-- CSS bundle is injected here by html-webpack-plugin -->
  </head>
  <body>
    <header><h1>About</h1></header>
    <ul>
      <li><a href="<%= PUBLIC_URL %>/index.html">Home</a></li>
    </ul>
    <!-- JS bundle injected here by html-webpack-plugin -->
  </body>
</html>
