<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bitmap Canvas Demo</title>
    <!-- Favicons -->
    <!-- FaviconsWebpackPlugin together with HtmlWebpackPlugin should be able to
      inject the link tags for the favicons, but there must be something wrong
      with my config -->
    <!-- https://github.com/jantimon/favicons-webpack-plugin#html-injection -->
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicon-48x48.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"
      rel="stylesheet"
    />
    <!-- CSS bundle injected here by html-webpack-plugin -->
  </head>
  <body>
    <div class="app">
      <div class="header">
        <h1>Bitmap Canvas Demo</h1>
      </div>
      <div class="table-of-contents">
        <ul>
          <li><a href="<%= PUBLIC_URL %>/index.html">Home</a></li>
          <li>
            <a data-cy="link-to-transfer-canvas-demo-page" href="<%= PUBLIC_URL %>/transfer-canvas-demo.html"
              >Transfer canvas demo</a
            >
          </li>
          <li>
            <a data-cy="link-to-about-page" href="<%= PUBLIC_URL %>/about.html"
              >About</a
            >
          </li>
        </ul>
      </div>
      <p>The main thread creates a
        <a href="https://developer.mozilla.org/en-US/docs/Web/API/ImageBitmapRenderingContext" target="_blank">ImageBitmapRenderingContext</a>
         with <code>const ctx = canvasBitmap.getContext("bitmaprenderer");</code>,
         the web worker creates a
         <a href="https://developer.mozilla.org/en-US/docs/Web/API/OffscreenCanvas" target="_blank">OffscreenCanvas</a>,
         render something into it, converts the canvas into a bitmap with
         <code>const bitmap = canvas.transferToImageBitmap();</code>
         and sends the bitmap to the main thread as a
         <a href="https://developer.mozilla.org/en-US/docs/Web/API/Transferable"target="_blank"></a>Transferable.
         The main thread updates its canvas with <code>ctx.transferFromImageBitmap(event.data.payload.bitmap);</code>
      </p>
      <div class="bitmap-canvas-container" data-cy="bitmap-canvas-container">
        <canvas id="bitmap-canvas">
      </div>
      <div class="bitmap-canvas-container" data-cy="bitmap-canvas-container">
        <canvas id="another-bitmap-canvas">
      </div>
    </div>
    <!-- JS bundle injected here by html-webpack-plugin -->
  </body>
</html>
