<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= APP_NAME %></title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"
      rel="stylesheet"
    />
    <link type="preload" as="script" href="<%= PUBLIC_URL %>/webgl-worker.js" />
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <div class="app">
      <div class="header">
        <h1><%= APP_NAME %></h1>
      </div>
      <div class="table-of-contents">
        <ul>
          <li>
            <a data-cy="link-to-about-page" href="<%= PUBLIC_URL %>/about.html"
              >About</a
            >
          </li>
        </ul>
      </div>
      <div class="canvas-container" data-cy="canvas-container">
        <canvas id="onscreen-canvas">
      </div>
      <div class="test-canvas-container" data-cy="test-canvas-container">
        <canvas id="test-canvas">
      </div>
      <div class="bitmap-canvas-container" data-cy="bitmap-canvas-container">
        <canvas id="bitmap-canvas">
      </div>
    </div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
