<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Three.js ES6 Webpack 4 Project Starter</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"
      rel="stylesheet"
    />
    <!-- bundle.css is injected here by html-webpack-plugin -->
  </head>
  <body>
    <h1>Three.js ES6 Webpack 4 Project Starter</h1>
    <ul>
      <li>
        <a
          href="https://jackdbd.github.io/threejs-es6-webpack-starter/about.html"
          >About</a
        >
      </li>
    </ul>
    <div class="container" id="canvas-container"></div>
    <!-- bundle.js is injected here by html-webpack-plugin -->
  </body>
</html>
