<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transfer Canvas Demo</title>
    <!-- Favicons -->
    <!-- FaviconsWebpackPlugin together with HtmlWebpackPlugin should be able to
      inject the link tags for the favicons, but there must be something wrong
      with my config -->
    <!-- https://github.com/jantimon/favicons-webpack-plugin#html-injection -->
    <link rel="shortcut icon" href="/assets/favicon.ico" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/favicon.ico" />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="/assets/favicon-16x16.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="64x64"
      href="/assets/favicon-48x48.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon-16x16.png"
    />
    <!-- Google fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"
      rel="stylesheet"
    />
    <!-- CSS bundle injected here by html-webpack-plugin -->
  </head>
  <body>
    <div class="app">
      <div class="header">
        <h1>Transfer Canvas Demo</h1>
      </div>
      <div class="table-of-contents">
        <ul>
          <li><a href="<%= PUBLIC_URL %>/index.html">Home</a></li>
          <li>
            <a
              data-cy="link-to-bitmap-canvas-demo-page"
              href="<%= PUBLIC_URL %>/bitmap-canvas-demo.html"
              >Bitmap canvas demo</a
            >
          </li>
          <li>
            <a data-cy="link-to-about-page" href="<%= PUBLIC_URL %>/about.html"
              >About</a
            >
          </li>
        </ul>
      </div>
      <p>Web workers in moder browsers implement <code>requestAnimationFrame</code>.
        Click start/stop to start/stop the render loop in the web worker.</p>
      <button id="start-render-loop" type="button">Start</button>
      <button id="stop-render-loop" type="button">Stop</button>
      <div class="transfer-canvas-container" data-cy="transfer-canvas-container">
        <canvas id="transfer-canvas">
      </div>
    </div>
    <!-- JS bundle injected here by html-webpack-plugin -->
  </body>
</html>
