.tooltip {
  background: var(--color-background-secondary);
  border: 0;
  border-radius: 1em;
  font-family: var(--typography-font-family-secondary);
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: auto;
}

.tooltip:hover {
  opacity: 0.8;
}
