<footer class="box">
  <div class="box cluster">
    <div>
      <div>
        <a
          class="ghost-button"
          href="https://github.com/jackdbd/threejs-es6-webpack-starter"
          target="_blank"
          >Star on GitHub</a
        >
      </div>
      <div>
        <a
          class="ghost-button"
          href="https://twitter.com/jackdbd"
          target="_blank"
          >Twitter</a
        >
      </div>
      <div>
        <a class="ghost-button" href="https://threejs.org/docs/" target="_blank"
          >Three.js Docs</a
        >
      </div>
    </div>
  </div>
</footer>
