<head>
  <meta charset="UTF-8" />
  <title>${APP_NAME}</title>
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
    name="viewport"
  />
  <meta name="description" content="${APP_NAME}" />
  <meta
    name="author"
    content="${require('../../js/html-variables.js').hello}"
  />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway"
  />
  <link rel="icon" href="/assets/favicon.ico" />
  <link
    rel="icon"
    type="image/png"
    sizes="64x64"
    href="/assets/favicon-64x64.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/favicon-16x16.png"
  />
  <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
  <!-- prova rimozione commenti in fragment -->
  <script
    defer
    src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
  ></script>
</head>
