<nav class="box nav-grid">
  <div class="nav-grid-home">
    <a
      class="ghost-button"
      datya-cy="link-to-home-page"
      href="${PUBLIC_URL}/index.html"
      >Home</a
    >
  </div>
  <div class="nav-grid-hamburger">
    <button onclick="toggleMobileNav()" type="button">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <ul class="nav-grid-pages">
    <li>
      <a class="ghost-button" href="${PUBLIC_URL}/offscreen-bitmaprenderer.html"
        >OffscreenCanvas + bitmaprenderer</a
      >
    </li>
    <li>
      <a class="ghost-button" href="${PUBLIC_URL}/offscreen-transfer.html"
        >OffscreenCanvas + transfer</a
      >
    </li>
    <li>
      <a class="ghost-button" href="/shared-worker.html">Shared worker</a>
    </li>
    <li>
      <a
        class="ghost-button"
        data-cy="link-to-about-page"
        href="${PUBLIC_URL}/about.html"
        >About</a
      >
    </li>
  </ul>
</nav>
