<nav class="box nav-grid">
  <div class="nav-grid-home">
    <a class="ghost-button" href="/index.html">Home</a>
  </div>
  <div class="nav-grid-hamburger">
    <button onclick="toggleMobileNav()" type="button">
      <i class="fa fa-bars"></i>
    </button>
  </div>
  <ul class="nav-grid-pages">
    <li>
      <a class="ghost-button" href="/offscreen-bitmaprenderer.html"
        >OffscreenCanvas + bitmaprenderer</a
      >
    </li>
    <li>
      <a class="ghost-button" href="/offscreen-webgl.html"
        >OffscreenCanvas + webgl</a
      >
    </li>
    <li><a class="ghost-button" href="/about.html">About</a></li>
    <li><a class="ghost-button" href="/404.html">404</a></li>
  </ul>
</nav>

<!-- TODO: use href with PUBLIC_URL -->
<!-- href="${PUBLIC_URL}/index.html -->
