/**
  * @font-face rules
  *
  * If you have multiple font formats, put most modern formats first:
  * .woff2 -> .woff -> .ttf
  * .woff2 and .woff are compressed, so use them over .ttf
  * If you can't find woff2/woff, convert ttf fonts with an online converter:
  * https://font-converter.net/en
  * https://transfonter.org/
  *
  * A single font-family can have multiple fonts (e.g. for bold, italic).
  */
@font-face {
  font-family: "InknutAntiqua-ExtraBold";
  font-style: normal;
  font-weight: normal;
  /* stylelint-disable */
  src: url("../fonts/Inknut_Antiqua/InknutAntiqua-ExtraBold.woff2")
      format("woff2"),
    url("../fonts/Inknut_Antiqua/InknutAntiqua-ExtraBold.woff") format("woff"),
    url("../fonts/Inknut_Antiqua/InknutAntiqua-ExtraBold.ttf")
      format("truetype");
  /* stylelint-enable */
}

/* @font-face {
  font-family: InknutAntiqua;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Inknut_Antiqua/InknutAntiqua-Regular.ttf")
    format("truetype");
} */

/* @font-face {
  font-family: InknutAntiqua;
  font-style: normal;
  font-weight: bold;
  src: url("../fonts/Inknut_Antiqua/InknutAntiqua-ExtraBold.ttf")
    format("truetype");
} */

/* other cool fonts Syncopate, Quicksand, Aclonica */
