/**
  * @font-face rules
  *
  * If you have multiple font formats, put most modern formats first:
  * .woff2 -> .woff -> .ttf
  * .woff2 and .woff are compressed, so use them over .ttf
  * If you can't find woff2/woff, convert ttf fonts with an online converter:
  * https://font-converter.net/en
  * https://transfonter.org/
  *
  * A single font-family can have multiple fonts (e.g. for bold, italic).
  */
@font-face {
  font-family: "Syne-Extra";
  font-style: normal;
  font-weight: normal;
  /* stylelint-disable declaration-colon-newline-after */
  src: url("../fonts/Syne/Syne-Extra.woff2") format("woff2"),
    url("../fonts/Syne/Syne-Extra.woff") format("woff"),
    url("../fonts/Syne/Syne-Extra.ttf") format("truetype");
  /* stylelint-enable declaration-colon-newline-after */
}

@font-face {
  font-family: "Syne-Regular";
  font-style: normal;
  font-weight: normal;
  /* stylelint-disable declaration-colon-newline-after */
  src: url("../fonts/Syne/Syne-Regular.woff2") format("woff2"),
    url("../fonts/Syne/Syne-Regular.woff") format("woff"),
    url("../fonts/Syne/Syne-Regular.ttf") format("truetype");
  /* stylelint-enable declaration-colon-newline-after */
}

/* other cool fonts Syncopate, Quicksand, Aclonica */
