@import "variables.css";
@import "font-face-rules.css";

body {
  font-family: var(--typography-font-family-primary);
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

li {
  font-family: var(--typography-font-family-secondary);
}

.app {
  font-family: var(--typography-font-family-primary);
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
}

.header {
  background-color: var(--colors-background-primary);
  display: flex;
}

.table-of-contents {
  background-color: var(--colors-background-secondary);
  display: flex;
}

.canvas-container {
  background-color: var(--colors-background-primary);
  display: flex;
  height: 100%;
  width: 100%;
}

.canvas-container > canvas {
  height: 100%;
  width: 100%;
}

.tooltip {
  background: var(--colors-background-secondary);
  border: 0;
  border-radius: 1em;
  font-family: var(--typography-font-family-secondary);
  font-size: 1rem;
  font-weight: bold;
  height: auto;
  padding: 0.5rem;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: auto;
}

.tooltip:hover {
  opacity: 0.8;
}

.test-canvas-container {
  position: absolute;
  border: 0.1rem solid red;
  left: 4rem;
  top: 3rem;
  width: 50vw;
  height: 50vh;
}

#test-canvas {
  width: 100%;
  height: 100%;
}

.bitmap-canvas-container {
  position: absolute;
  border: 0.1rem solid steelblue;
  left: 50vw;
  top: 50vh;
  width: 40vw;
  height: 30vh;
}

#bitmap-canvas {
  width: 100%;
  height: 100%;
}
