/* @font-face rules should be defined first in your main CSS file */

/* https://alligator.io/css/font-face/ */

@import "../css/font-face-rules.css";
@import "../css/variables.css";
@import "../css/typography.css";
@import "../css/layouts/index.css";
@import "../css/components/index.css";
@import "../css/helpers.css";
@import "../css/defaults.css";
@import "../css/media-queries.css";

.messages {
  background-color: white;
  /* stylelint-disable-next-line unit-whitelist */
  height: 400px;
  overflow: auto;
}
