h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--typography-font-family-headline);
}

a,
button,
div,
figcaption,
li,
main,
p,
span {
  font-family: var(--typography-font-family-body);
}

button,
figcaption,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: var(--color-font-primary);
}
