:root {
  /* COLORS */
  --color-background-primary: #374047;
  --color-background-secondary: #5f6e78;
  --color-font-primary: white;
  --color-highlighted: orange;

  /* GEOMETRY */
  --geometry-space-small: 1rem;
  --geometry-space-medium: 2rem;
  --geometry-space-big: 3rem;

  /* TYPOGRAPHY */
  --typography-font-family-headline: "Syne-Extra", sans-serif;
  --typography-font-family-body: "Syne-Regular", sans-serif;

  /* --typography-font-family-body: "Raleway", sans-serif; */
}
